[Unit]
Description=Automatically upload pictures from ez Share wifi SD card to Google Photos
After=network.target network-online.target

[Service]
Type=simple
User=vic
Group=vic
Restart=always
RestartSec=1
ExecStart=/usr/bin/python /usr/local/bin/ezshare.py

[Install]
WantedBy=multi-user.target
