[Unit]
Description=Automatically upload pictures from USB mounted SD card to Google Photos

[Service]
Type=simple
User=vic
Group=vic
SupplementaryGroups=audio
Restart=always
RestartSec=1
ExecStart=/usr/local/share/usbdcim_venv/bin/python /usr/local/bin/usbdcim.py

[Install]
WantedBy=multi-user.target
